/tmp
/config
/storage/
/session/
/overide/
/*_overide/

/public/user/*

# dependencies
/vendor

# IDEs and editors
/.idea
.project
.classpath

# System Files
.DS_Store
Thumbs.db

composer.lock

# app folder
/app/*
/App/*

# cache
/public/cache/*
/public/uploads/*
/cache/*
.env
