<div class="modal-header">
    <h3 class="modal-title">{{titre}}</h3>
</div>


<div class="modal-body">
    <div class="row">
        <section class="col col-md-12">
            <div ng-bind-html="msg | trusted"></div>
        </section>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-danger" type="button" ng-click="action_danger_click()" ng-show="action_danger"> {{action_danger}}
    </button>

    <button class="btn btn-primary" type="button" ng-click="action_primary_click()" ng-show="action_primary"> {{action_primary}}
    </button>

    <button class="btn btn-success" type="button" ng-click="action_success_click()" ng-show="action_success"> {{action_success}}
    </button>
</div>